@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eee;
  --text-color: #111;
  --selection-background: #111;
  --selection-text: #eee;
  --sh-class: #d73a49;
  --sh-identifier: #6f42c1;
  --sh-sign: #005cc5;
  --sh-string: #032f62;
  --sh-keyword: #d73a49;
  --sh-comment: #6a737d;
  --sh-jsxliterals: #22863a;
  --sh-property: #005cc5;
  --sh-entity: #22863a;
  --sh-number: #005cc5;
  --sh-boolean: #005cc5;
  --sh-function: #6f42c1;
  --sh-variable: #005cc5;
  --sh-operator: #d73a49;
}

.dark {
  --background-color: #111;
  --text-color: #eee;
  --selection-background: #eee;
  --selection-text: #111;
  --sh-class: #e06c75;
  --sh-identifier: #c678dd;
  --sh-sign: #61afef;
  --sh-string: #98c379;
  --sh-keyword: #e06c75;
  --sh-comment: #5c6370;
  --sh-jsxliterals: #56b6c2;
  --sh-property: #61afef;
  --sh-entity: #56b6c2;
  --sh-number: #d19a66;
  --sh-boolean: #d19a66;
  --sh-function: #61afef;
  --sh-variable: #e06c75;
  --sh-operator: #c678dd;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
}

.code .class { color: var(--sh-class); }
.code .identifier { color: var(--sh-identifier); }
.code .sign { color: var(--sh-sign); }
.code .string { color: var(--sh-string); }
.code .keyword { color: var(--sh-keyword); }
.code .comment { color: var(--sh-comment); }
.code .jsxliterals { color: var(--sh-jsxliterals); }
.code .property { color: var(--sh-property); }
.code .entity { color: var(--sh-entity); }
.code .number { color: var(--sh-number); }
.code .boolean { color: var(--sh-boolean); }
.code .function { color: var(--sh-function); }
.code .variable { color: var(--sh-variable); }
.code .operator { color: var(--sh-operator); }

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 150ms);
}

/* styles/globals.css atau styles/navbar.css */
.nav-link {
  transition: opacity 0.3s ease, font-weight 0.3s ease;
  opacity: 0.75;
}

.nav-link.active {
  font-weight: 600;
  opacity: 1;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-200 dark:text-neutral-800;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-800 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-800;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h1, h2, h3, h4, h5, h6 {
  @apply font-semibold tracking-tighter !important;
}

.prose p {
  @apply mb-4 text-neutral-800 dark:text-neutral-200;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 400;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}